:root {
    --mega: #00923F;
    --lotofacil: #A349A4;
    --lotomania: #E1753B;
    --quina: #37287F;
    --dupla: #8F293F;
    --dia: #DAA505;
    --time: #FFED00;
    --time-green: #006600;
  }

body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}

textarea{
    min-height: 400px;
}

.lotofacil-display #numbers{
    width: 300px !important;
}

.lotofacil-display #numbers div{
    width: 20% !important;
}

.lotofacil-display #numbers-header{
    left: -30px;
}

#contest-display{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#numbers, #numbers2{
    background-color: #FEFDDC;
    height: 100%;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#numbers span, .numbers, #numbers2 span{
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto';
    cursor: pointer;
}

#numbers-header{
    font-size: 21px;
    margin: 8px;
    padding: 6px 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 25px;
    left: -130px;
}

.bets{
    background-color: #d0d2d4 !important;
    resize: none;
}

.main-page{
    min-height: 100vh;
    width: 100%;
    display: inline-block;
}

footer{
    min-height: 90px;
    padding: 1em;
    background-color: rgb(128, 128, 128);
    color: #000;
}

/* LOTTERY STYLES */
.megasena{
    background-color: var(--mega);
    color: white;
}

.megasena-border{
    border: 3px var(--mega) solid;
}

.megasena-number{
    color: var(--mega) !important;
    border: 3px var(--mega) solid;
}

.megasena-number.selected{
    background-color: var(--mega) !important;
    color: white !important;
}

.lotofacil{
    background-color: var(--lotofacil);
    color: white;
}

.lotofacil-border{
    border: 3px var(--lotofacil) solid;
}

.lotofacil-number{
    color: var(--lotofacil) !important;
    border: 3px var(--lotofacil) solid;
}

.lotofacil-number.selected{
    background-color: var(--lotofacil) !important;
    color: white !important;
}

.lotomania{
    background-color: var(--lotomania);
    color: white;
}

.lotomania-border{
    border: 3px var(--lotomania) solid;
}

.lotomania-number{
    color: var(--lotomania) !important;
    border: 3px var(--lotomania) solid;
}

.lotomania-number.selected{
    background-color: var(--lotomania) !important;
    color: white !important;
}

.quina{
    background-color: var(--quina);
    color: white;
}

.quina-border{
    border: 3px var(--quina) solid;
}

.quina-number{
    color: var(--quina) !important;
    border: 3px var(--quina) solid;
}

.quina-number.selected{
    background-color: var(--quina) !important;
    color: white !important;
}

.dupla{
    background-color: var(--dupla);
    color: white;
}

.dupla-border{
    border: 3px var(--dupla) solid;
}

.dupla-number{
    color: var(--dupla) !important;
    border: 3px var(--dupla) solid;
}

.dupla-number.selected{
    background-color: var(--dupla) !important;
    color: white !important;
}

.dia{
    background-color: var(--dia);
    color: white;
}

.dia-border{
    border: 3px var(--dia) solid;
}

.dia-number{
    color: var(--dia) !important;
    border: 3px var(--dia) solid;
}

.dia-number.selected{
    background-color: var(--dia) !important;
    color: white !important;
}

.time{
    background-color: var(--time);
    color: var(--time-green) !important;
}

.time-border{
    border: 3px var(--time) solid;
}

.time-number{
    color: var(--time-green) !important;
    border: 3px var(--time) solid;
}

.time-number.selected{
    background-color: var(--time) !important;
}

.bg-apostador{
    background-image: linear-gradient(45deg, #005DA8, #197FAB);
    background-color: #005DA8;
}

/* TEMPLATE */
.navbar-nav .dropdown-menu {
    background-image: linear-gradient(45deg,#005DA8 0 50%, #197FAB 40% 100%);
    color: black !important;
}

.navbar-nav .dropdown-item:hover{
    background-color: white;
    color: black !important;
}

.bg-apostador .nav-link{
    color: white !important;
}

.bg-apostador .dropdown-item{
    color: white !important;
}