:root {
    --mega: #00923F;
    --lotofacil: #A349A4;
    --lotomania: #E1753B;
    --quina: #37287F;
    --dupla: #8F293F;
    --dia: #DAA505;
    --time: #FFED00;
    --time-green: #006600;
  }

body{
    font-family: 'Poppins', sans-serif !important;
}

#numbers{
    background-color: #FEFDDC;
    height: 100%;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
}

#numbers span{
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto';
}

#numbers-header{
    font-size: 21px;
    margin: 8px;
    padding: 6px 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 15px;
}

.bets{
    background-color: #d0d2d4 !important;
    resize: none;
}

/* LOTTERY STYLES */
.megasena{
    background-color: var(--mega);
    color: white;
}

.megasena-border{
    border: 3px var(--mega) solid;
}

.megasena-number{
    color: var(--mega) !important;
    border: 3px var(--mega) solid;
}

.megasena-number.selected{
    background-color: var(--mega) !important;
    color: white !important;
}

.lotofacil{
    background-color: var(--lotofacil);
    color: white;
}

.lotofacil-border{
    border: 3px var(--lotofacil) solid;
}

.lotofacil-number{
    color: var(--lotofacil) !important;
    border: 3px var(--lotofacil) solid;
}

.lotofacil-number.selected{
    background-color: var(--lotofacil) !important;
    color: white !important;
}

.lotomania{
    background-color: var(--lotomania);
    color: white;
}

.lotomania-border{
    border: 3px var(--lotomania) solid;
}

.lotomania-number{
    color: var(--lotomania) !important;
    border: 3px var(--lotomania) solid;
}

.lotomania-number.selected{
    background-color: var(--lotomania) !important;
    color: white !important;
}

.quina{
    background-color: var(--quina);
    color: white;
}

.quina-border{
    border: 3px var(--quina) solid;
}

.quina-number{
    color: var(--quina) !important;
    border: 3px var(--quina) solid;
}

.quina-number.selected{
    background-color: var(--quina) !important;
    color: white !important;
}

.dupla{
    background-color: var(--dupla);
    color: white;
}

.dupla-border{
    border: 3px var(--dupla) solid;
}

.dupla-number{
    color: var(--dupla) !important;
    border: 3px var(--dupla) solid;
}

.dupla-number.selected{
    background-color: var(--dupla) !important;
    color: white !important;
}

.dia{
    background-color: var(--dia);
    color: white;
}

.dia-border{
    border: 3px var(--dia) solid;
}

.dia-number{
    color: var(--dia) !important;
    border: 3px var(--dia) solid;
}

.dia-number.selected{
    background-color: var(--dia) !important;
    color: white !important;
}

.time{
    background-color: var(--time);
    color: var(--time-green) !important;
}

.time-border{
    border: 3px var(--time) solid;
}

.time-number{
    color: var(--time-green) !important;
    border: 3px var(--time) solid;
}

.time-number.selected{
    background-color: var(--time) !important;
}